services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    ports:
      - "${DB_HOST_PORT}:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    build:
      context: .
      dockerfile: docker/Dockerfile.migrations
    env_file:
      - .env
    # NOTE: environment overrides env_file with proper DB_PORT and DB_HOST
    # regardless of launch env (i.e. local, dev or prod and etc.)
    environment:
      DB_PORT: 5432
      DB_HOST: postgres
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/app/migrations
    command: ["poetry", "run", "alembic", "upgrade", "head"]

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    # NOTE: environment overrides env_file with proper DB_PORT and DB_HOST
    # regardless of launch env (i.e. local, dev or prod and etc.)
    environment:
      DB_PORT: 5432
      DB_HOST: postgres
    depends_on:
      migrations:
        condition: service_completed_successfully
    env_file:
      - .env
    volumes:
      - ./templates:/app/templates

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
